<div class="form_item_block">
  <label>Notification type:<span class="asterisk">*</span></label>
  <select ng-model="NotificationType" ng-required="true">
    <option value="success" selected="selected">Success</option>
    <option value="failure">Failure</option>
    <option value="other">Other</option>
  </select>
</div>
 <div class="form_item_block">
  <label>Notification message (leave blank for default):</label>
  <label>Environment variables accessible with $ notation</label>
  <textarea ng-model="HipchatMessage"></textarea>
  <span class="form_error" ng-show="GOINPUTNAME[HipchatMessage].$error.server">{{ GOINPUTNAME[HipchatMessage].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Room to notify:</label>
  <input type="text" ng-model="HipchatRoom"/>
  <span class="form_error" ng-show="GOINPUTNAME[HipchatRoom].$error.server">{{ GOINPUTNAME[HipchatRoom].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Message format:</label>
  <select ng-model="HipchatMessageFormat" ng-required="true">
    <option value="text" selected="selected">text</option>
    <option value="html">html</option>
  </select>
</div>
<div class="form_item_block">
    <label>API Key for Room:</label>
    <input type="text" ng-model="HipchatRoomKey"/>
    <span class="form_error" ng-show="GOINPUTNAME[HipchatRoomKey].$error.server">{{ GOINPUTNAME[HipchatRoomKey].$error.server }}</span>
</div>
